.catalog
  padding: 0 1vw
  position: relative
.product-list
  margin-top: 3vw
  display: flex
  flex-wrap: wrap
  flex-direction: row
.product-card
  position: relative
  display: flex
  flex-direction: column
  width: 25%
  gap: 0.4vw
  margin-bottom: 2vw
  div
    font-size: 1.2vw
    color: #faf8f3
    margin-left: 1vw
.page-switcher
  display: flex
  width: 100%
  justify-content: center
  align-items: center
  gap: 1vw
  margin: 4vw 0
.page-switcher-item
  display: flex
  align-items: center
  justify-content: center
  width: 3vw
  height: 3vw
  font-size: 1.2vw
  border-radius: 50%
  color: #faf8f3
  box-sizing: border-box
.active-page
  color: #909090 !important
  border: 1px solid #909090
.number:hover
  color: #909090
  border: 1px #909090 solid
.product-filter
  z-index: 10
  position: fixed
  margin-top: 3vw
  width: 25vw
  backdrop-filter: blur(10px)
  border: 1px solid #faf8f3
.filter-container
  margin: 0
  padding: 0
  list-style: none
  li
    cursor: pointer
    border-top: 1px dashed #faf8f3
    display: none
    justify-content: center
    align-items: center
    height: 4vw
    font-size: 1.2vw
    background: rgb(0,0,0,0.25)
  li:nth-child(n+1):hover
    background: rgb(0,0,0,0.45)
  li:nth-child(1)
    box-sizing: border-box
    padding: 0 1vw
    border: none
    display: flex !important
    justify-content: space-between
.product-filter:hover .filter-container > li
  display: flex !important
.discount
  position: absolute
  width: 4vw
  height: 2vw
  background: #262626
  color: #faf8f3
  font-size: 1vw
  top: 3%
  right: 5%
  display: flex
  justify-content: center
  align-items: center

@media (max-width: 800px)
  .catalog
    display: flex
  .product-filter
    margin-top: 2vh
    z-index: 10
    position: fixed
    width: 100%
    top: 3vh
    backdrop-filter: blur(10px)
    border: 1px solid #262626
  .filter-container
    background-color: rgba(17,17,17,.85)
    li
      height: 6vh
      font-size: 2vh
    li:nth-child(1)
      padding: 0 1vh
  .product-list
    margin-top: 18vh

    width: 100%
  .product-card
    width: 50%
    div
      font-size: 12px
  .page-switcher
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    gap: 10px
    margin: 20px 0
  .page-switcher-item
    display: flex
    align-items: center
    justify-content: center
    width: 25px
    height: 25px
    font-size: 14px
    border-radius: 50%
    color: #faf8f3
    box-sizing: border-box
  .discount
    position: absolute
    width: 5vh
    height: 2.5vh
    background: #262626
    color: #faf8f3
    font-size: 1vh
    top: 3%
    right: 5%
    display: flex
    justify-content: center
    align-items: center
