
.img-collage
  display: flex
  flex-direction: column
  width: 100%
  height: 40vw
  margin-bottom: 9vw
.img-collage-container
  width: 100%
  height: 60vw
  img
    object-fit: cover
    width: 100%
    height: 100%

.img-collage-slider
  position: relative
  bottom: 22vw
  box-sizing: border-box
  width: 100%
  display: flex
  justify-content: space-between
  padding: 0 4vw

.button-slider
  border-radius: 50%
  width: 5vw
  height: 5vw
  background: transparent
  border: 0
  color: white
  font-size: 4vw
  z-index: 10
  backdrop-filter: blur(10px)
  display: flex
  align-items: center
  justify-content: center
.collage-title
  align-self: center
  position: relative
  margin-bottom: -10vw
  bottom: 12vw
  z-index: 1


@media (max-width: 800px)
  .img-collage
    height: 60vh
  .img-collage-container
    width: 100%
    height: 60vh
  .img-collage-slider
    position: relative
    bottom: 30vh
  .collage-title
    margin-bottom: -30px
  .button-slider
    width: 6vh !important
    height: 6vh !important
    font-size: 5vh !important
  .collage-title
    margin-bottom: -10vh
    bottom: 12vh
