@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap")
@import "header"
@import "collage"
@import "swiper"
@import "top-sale"
@import "social-links"
@import "about"
@import "scrolling-img"
@import "footer"
=slowly-transition
  transition: all .25s ease-in-out
@media (min-width: 850px)
  body
    font-family: Inter,sans-serif
    background: #111
    margin-top: 0
  h1
    font-size: 7vw
    font-weight: 400
    margin: 0
    color: #faf8f3

  h2
    font-size: 4vw
    margin: 0
    color: #faf8f3
  main
    display: flex
    flex-direction: column
    align-items: center
    color: white
    margin-top: -2vw
